<a href="https://colab.research.google.com/github/cherzi/Jupyter-Notebooks/blob/main/houseprice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt 
%matplotlib inline

In [ ]:
# Importer le dataset

from sklearn.datasets import load_boston
maisons_boston = load_boston()

dataset = pd.DataFrame(maisons_boston.data,  columns=maisons_boston.feature_names)

In [ ]:
dataset.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...  RAD    TAX  PTRATIO       B  LSTAT
0  0.00632  18.0   2.31   0.0  0.538  ...  1.0  296.0     15.3  396.90   4.98
1  0.02731   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  396.90   9.14
2  0.02729   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  392.83   4.03
3  0.03237   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  394.63   2.94
4  0.06905   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  396.90   5.33

[5 rows x 13 columns]

In [ ]:
# Organiser le dataset

# Les features ainsi que leur intitul√©
colonnesX = pd.DataFrame(maisons_boston.data, columns=maisons_boston.feature_names)
colonnesX.drop(colonnesX.index[0])

# Les prix des maisons
prixY = pd.DataFrame(maisons_boston.target)
prixY.drop(prixY.index[0])

colonnesX.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...  RAD    TAX  PTRATIO       B  LSTAT
0  0.00632  18.0   2.31   0.0  0.538  ...  1.0  296.0     15.3  396.90   4.98
1  0.02731   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  396.90   9.14
2  0.02729   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  392.83   4.03
3  0.03237   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  394.63   2.94
4  0.06905   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  396.90   5.33

[5 rows x 13 columns]

In [ ]:
# Afficher le dataset
colonnesX.describe()

             CRIM          ZN       INDUS  ...     PTRATIO           B       LSTAT
count  506.000000  506.000000  506.000000  ...  506.000000  506.000000  506.000000
mean     3.613524   11.363636   11.136779  ...   18.455534  356.674032   12.653063
std      8.601545   23.322453    6.860353  ...    2.164946   91.294864    7.141062
min      0.006320    0.000000    0.460000  ...   12.600000    0.320000    1.730000
25%      0.082045    0.000000    5.190000  ...   17.400000  375.377500    6.950000
50%      0.256510    0.000000    9.690000  ...   19.050000  391.440000   11.360000
75%      3.677083   12.500000   18.100000  ...   20.200000  396.225000   16.955000
max     88.976200  100.000000   27.740000  ...   22.000000  396.900000   37.970000

[8 rows x 13 columns]

In [ ]:
# Cr√©er le model de reg lin√©aire

reg = linear_model.LinearRegression()

In [ ]:
# Diviser les donn√©es

x_train, x_test, y_train, y_test = train_test_split(colonnesX, prixY, test_size=0.33, random_state=42)

In [ ]:
# Entrainer le model

reg.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
# Pr√©diction sur les donn√©es de test

y_pred = reg.predict(x_test)

In [ ]:
# Comparer les r√©sultats

comp = pd.DataFrame({'Vrais prix': y_test.values.flatten(), 'Prix pr√©dits': y_pred.flatten()})
comp.head()

   Vrais prix  Prix pr√©dits
0        23.6     28.534695
1        32.4     36.618701
2        13.6     15.637511
3        22.8     25.501450
4        16.1     18.709673

In [ ]:
# Performances du model

from sklearn.metrics import mean_squared_error

print(mean_squared_error(y_test, y_pred))

20.724023437339717

In [ ]:
reg.score(x_test, y_test)

0.7261570836552481

In [ ]:
# Train le mod√®le Decision Tree

from sklearn.tree import DecisionTreeRegressor

AD = DecisionTreeRegressor()

AD.fit(x_train, y_train)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

In [ ]:
# Accuracy du mod√®le

print("Training Accuracy:- ", AD.score(x_test, y_test)*100)

Training Accuracy:-  72.28854371276931

In [ ]:
# Train le mod√®le Random Forest

from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor(max_depth=20, random_state=100,criterion='mae',n_estimators=20,min_samples_leaf=2)

rf.fit(x_train,y_train)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  import sys

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mae',
                      max_depth=20, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=2,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=20, n_jobs=None, oob_score=False,
                      random_state=100, verbose=0, warm_start=False)

In [ ]:
print("Training Accuracy:- ",rf.score(x_test,y_test)*100)

Training Accuracy:-  86.73201253113383

In [ ]:
# Exporter le model pour pouvoir l'utiliser (pickle)

import pickle
from sklearn.externals import joblib

fichier = 'model_prix_maisons.pkl'
joblib.dump(rf, fichier)

/usr/local/lib/python3.6/dist-packages/sklearn/externals/joblib/__init__.py:15: FutureWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=FutureWarning)

['model_prix_maisons.pkl']

In [ ]:
# Importer le model pickled dans google drive pour le t√©l√©charger

from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

# 1. Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)  

# get the folder id where you want to save your file
file = drive.CreateFile()
file.SetContentFile('model_prix_maisons.pkl')
file.Upload()