<a href="https://colab.research.google.com/github/cherzi/Jupyter-Notebooks/blob/main/phonesprice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# connecter le google colab au drive

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# Preciser le path du fichier

path = "/content/drive/My Drive/Colab Notebooks/data/train.csv"

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [ ]:
# Importer le dataset (pour entrainement)

dataset = pd.read_csv(path)
dataset.head()

   battery_power  blue  clock_speed  ...  touch_screen  wifi  price_range
0            842     0          2.2  ...             0     1            1
1           1021     1          0.5  ...             1     0            2
2            563     1          0.5  ...             1     0            2
3            615     1          2.5  ...             0     0            2
4           1821     1          1.2  ...             1     0            1

[5 rows x 21 columns]

In [ ]:
dataset.corr()

NameError: ignored

In [ ]:
# Décrire le dataset

dataset.describe()

       battery_power       blue  ...         wifi  price_range
count    2000.000000  2000.0000  ...  2000.000000  2000.000000
mean     1238.518500     0.4950  ...     0.507000     1.500000
std       439.418206     0.5001  ...     0.500076     1.118314
min       501.000000     0.0000  ...     0.000000     0.000000
25%       851.750000     0.0000  ...     0.000000     0.750000
50%      1226.000000     0.0000  ...     1.000000     1.500000
75%      1615.250000     1.0000  ...     1.000000     2.250000
max      1998.000000     1.0000  ...     1.000000     3.000000

[8 rows x 21 columns]

In [ ]:
# Créer la matrice des features (la X) et les prix (Y)

X = dataset.drop('price_range',axis=1)
y = dataset['price_range']

X.head()

   battery_power  blue  clock_speed  ...  three_g  touch_screen  wifi
0            842     0          2.2  ...        0             0     1
1           1021     1          0.5  ...        1             1     0
2            563     1          0.5  ...        1             1     0
3            615     1          2.5  ...        1             0     0
4           1821     1          1.2  ...        1             1     0

[5 rows x 20 columns]

In [ ]:
# Créer le model de regression

reg = LinearRegression()

In [ ]:
# Diviser le dataset

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=0)

In [ ]:
# Entrainer le model

reg.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
reg.score(X_test, y_test)

0.9230621585410421

In [ ]:
# Exporter le model pour pouvoir l'utiliser (pickle)

import pickle
from sklearn.externals import joblib

fichier = 'model_prix_mobiles.pkl'
joblib.dump(reg, fichier)

/usr/local/lib/python3.6/dist-packages/sklearn/externals/joblib/__init__.py:15: FutureWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=FutureWarning)

['model_prix_mobiles.pkl']

In [ ]:
# Importer le model pickled dans google drive pour le télécharger

from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

# 1. Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)  

# get the folder id where you want to save your file
file = drive.CreateFile()
file.SetContentFile('model_prix_mobiles.pkl')
file.Upload()